footer{
  width: 100%;
  background: #aeaeae;
  padding: 100px 0px;
  border-top: 1px solid #888;
}

.footer_inner{
  width: 1180px;
  margin: 0px auto;
}

.footer_upper{
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
}

footer .footer_inner .footer_upper::after{
  content: "";
  display: block;
  clear: both;
}

footer .footer_inner .footer_upper h1{
  float: left;
  font: bold 24px/1 "arial";
  color: #666;
}

footer .footer_inner .footer_upper ul{
  float: right;
}

footer .footer_inner .footer_upper ul li{
  float: left;
  margin-left: 20px;
}

footer .footer_inner .footer_upper ul li a{
  font: bold 14px/1 "arial";
  color: #666;
}

footer .footer_inner .footer_lower{
  width: 100%;
  padding-top: 20px;
}

footer .footer_inner .footer_lower address{
  width: 100%;
  font: 12px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
}

footer .footer_inner .footer_lower p{
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}

